.search-bar {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.search-bar__input {
    width: 70%;
    max-width: 400px;
    padding: 0.75rem;
    border: 2px solid #4A90E2;
    border-radius: 5px 0 0 5px; /* Bordas arredondadas à esquerda */
    font-size: 1rem;
    transition: border-color 0.3s;
}

.search-bar__input:focus {
    outline: none;
    border-color: #2C3E50;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.search-bar__button {
    padding: 0.75rem 1.5rem;
    border: none;
    background-color: #4A90E2;
    color: white;
    border-radius: 0 5px 5px 0; /* Bordas arredondadas à direita */
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar__button:hover {
    background-color: #357ABD; /* Cor do botão ao passar o mouse */
}

.search-bar__button:focus {
    outline: none; /* Remove a borda ao focar */
}
